body {
  background-color: rgb(1, 0, 16);
  color: whitesmoke;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

div.searchContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

img.banner {
  border-radius: 10px;
}

form {
  background-color: rgb(35, 35, 35);
  border-radius: 10px;
  box-shadow: inset;
  padding: 10px;
  color: whitesmoke;
}

input,
.cl {
  background-color: rgb(35, 35, 35);
  border: 0px;
  /* box-shadow: 0px 10px 20px rgb(1, 0, 16); */
  color: whitesmoke;
  height: 35px;
  margin-right: 5px;
}

.oneMatch {
  display: flex;
  justify-content: center;
}

.individualTeam {
  font-size: 25px;
  width: 500px;
}

.individualTeam img {
  width: 35px;
}

.userData {
  background-color: rgb(3, 0, 39);
  display: flex;
  margin-bottom: 20px;
  justify-content: center;
  align-items: center;
}

.summonerIcon {
  border-radius: 20px;
  width: 140px;
}

.matchContainer {
  display: flex;
  align-items: center;
}

.summonerLevel {
  /* position: relative;
    top: 90%;
    left: 50%; */
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  top: 90%;
  font-weight: 700;
}

.summonerName {
  font-size: 40px;
  font-weight: 700;
  display: flex;
  align-items: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.division {
  display: flex;
  align-items: center;
}

.player:hover {
  cursor: pointer;
}

.playerWin {
  background-color: #27344e;
  border: 1px solid #4565a5;
}

.playerLose {
  background-color: #59343b;
  border: 1px solid #813846;
}

.searchedPlayer {
  background-color: #0c7e08;
}

.emptyHistory {
  font-size: 25px;
  display: flex;
  justify-content: center;
}

.modal {
  display: flex;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
  justify-content: center;
  /* Center horizontally */
  align-items: center;
  /* Center vertically */
}

.modal-content {
  background-color: rgb(35, 35, 35);
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  /* Could be more or less, depending on screen size */
  max-width: 500px;
  border-radius: 8px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.error {
  color: red;
  margin-top: 10px;
}

.fade-out {
  opacity: 1;
  transition: opacity 5s ease-out;
}

.fade-out.fade-out-effect {
  opacity: 0;
}


.modal {
  display: flex;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
  justify-content: center;
  /* Center horizontally */
  align-items: center;
  /* Center vertically */
}


.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.error {
  color: red;
  margin-top: 10px;
}

.fade-out {
  opacity: 1;
  transition: opacity 5s ease-out;
}

.fade-out.fade-out-effect {
  opacity: 0;
}

.banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


#searchAutoComplete {
  background-color: #27344eee;
  position: absolute;
  /* Stay in place */
  margin-left: -5.5%;
  width: 150px;
  z-index: 1;
  cursor: pointer;
}

.currentPlayer img {
  width: 48px;
}

.summonerSpells img,
.items img {
  width: 22px;
}

.theMatch {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.currentPlayer {
  padding: 20px;
  background-color: rgb(19, 14, 85)
}

.matchResult {
  width: 70px;
  padding-top: 60px;
  padding-left: 25px;
  background-color: rgb(19, 14, 85)
}

.currPlayer {
  background-color: green;
}

button {
  border: 1px;
  padding: 12px 25px;
  background-color: rgb(88, 88, 88);
  color: white;
  border-radius: 5%;
  font-size: 15px;
  margin-right: 5px;

}

button:hover {
  background-color: rgb(145, 143, 143);
  cursor: pointer;
}

#refreshButton {
  margin-left: 50px;
}

.favourite {
  border-color: var(--gray250);
  background-color: rgb(145, 143, 143, 0);

}

.favUser {
  display: flex;
  align-items: center;
  border: 2px solid white;
  width: 200px;
  margin-top: 20px;
  border-radius: 3px;
}

.favUser img {
  width: 50px;
}

li {
  list-style-type: none;
  display: flex;
  align-items: center;
}

.favUser:hover {
  cursor: pointer;
  color: magenta;
  border-color: magenta;
}

.link-buttons {
  text-decoration: none;
  color: white;
}