body{
    background-color: rgb(1,0,16);
}
div.searchContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
}
img.banner{
    border-radius: 10px;
}
form{
    background-color: rgb(35, 35, 35);
    border-radius: 10px;
    box-shadow: inset;
    padding: 10px;
    color: whitesmoke;
}